flows.json
[
    {
        "id": "5bd5e23aadd26b8d",
        "type": "tab",
        "label": "Set GeoIP ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b2035a9.ca9f5c",
        "type": "tab",
        "label": "Pub/Sub Perf Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3c4c932fa0ad433",
        "type": "tab",
        "label": "Command/Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a033ecf7.19ef2",
        "type": "tab",
        "label": "Client State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "401333b789844503",
        "type": "tab",
        "label": "webserver",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e42fc4013df7b4d5",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bc909638714814e",
        "type": "tab",
        "label": "mqtt broker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f51fc5811b06d1db",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo-na.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/security/clientstate/connect",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/security/clientstate/close",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/security/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "33d9c3ab.7a850c",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "c7809b33.ca4548",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d919544.7af97c",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "c7809b33.ca4548",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb978cdcbb341010",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5a6e49fe.3bec18",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "4d2004dd.4b9bac",
        "type": "gauth"
    },
    {
        "id": "fde17ba4e8f07cec",
        "type": "gauth",
        "name": "node-red@fluted-sentry-260301.iam.gserviceaccount.com"
    },
    {
        "id": "90a75f67.3dfdd",
        "type": "ui_group",
        "name": "Client State Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9b74f5157d30c304",
        "type": "ui_spacer",
        "z": "a033ecf7.19ef2",
        "name": "spacer",
        "group": "8b1f0ad9.213428",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "3e0be38cc47d2dc1",
        "type": "ui_spacer",
        "z": "a033ecf7.19ef2",
        "name": "spacer",
        "group": "8b1f0ad9.213428",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "cf105c3d1891487f",
        "type": "ui_spacer",
        "z": "a033ecf7.19ef2",
        "name": "spacer",
        "group": "8b1f0ad9.213428",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "73aa6ca22fb07ece",
        "type": "ui_spacer",
        "z": "a033ecf7.19ef2",
        "name": "spacer",
        "group": "8b1f0ad9.213428",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "0b05d2e6b303d1cb",
        "type": "ui_spacer",
        "z": "a033ecf7.19ef2",
        "name": "spacer",
        "group": "8b1f0ad9.213428",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "2280f0fe.38e8e",
        "type": "http request",
        "z": "5bd5e23aadd26b8d",
        "name": "Lookup public IP address",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "wgetip.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "6d6e68ee.4521e8",
                "53fadfdcf2708014",
                "aa72db81.297168"
            ]
        ]
    },
    {
        "id": "6d6e68ee.4521e8",
        "type": "template",
        "z": "5bd5e23aadd26b8d",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/{{payload}}",
        "output": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "bec661d5.81376"
            ]
        ]
    },
    {
        "id": "bec661d5.81376",
        "type": "http request",
        "z": "5bd5e23aadd26b8d",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "fff7a75a.2f5218"
            ]
        ]
    },
    {
        "id": "fff7a75a.2f5218",
        "type": "change",
        "z": "5bd5e23aadd26b8d",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "regionName",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "countryCode",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "org",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "84073e45.1a5"
            ]
        ]
    },
    {
        "id": "84073e45.1a5",
        "type": "template",
        "z": "5bd5e23aadd26b8d",
        "name": "Format iplocation file",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"regionName\":\"{{payload.regionName}}\",\"countryCode\":\"{{payload.countryCode}}\",\"org\":\"{{payload.org}}\"}",
        "output": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "d6e714be.cc9d48"
            ]
        ]
    },
    {
        "id": "d6e714be.cc9d48",
        "type": "file",
        "z": "5bd5e23aadd26b8d",
        "name": "write iplocation file to disk ",
        "filename": "/data/iplocation",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "316b8d06d6a87ed8"
            ]
        ]
    },
    {
        "id": "27622c68909fd703",
        "type": "inject",
        "z": "5bd5e23aadd26b8d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "2280f0fe.38e8e"
            ]
        ]
    },
    {
        "id": "316b8d06d6a87ed8",
        "type": "debug",
        "z": "5bd5e23aadd26b8d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "9f793fb6.e5e62",
        "type": "GSheet",
        "z": "5bd5e23aadd26b8d",
        "creds": "fde17ba4e8f07cec",
        "method": "append",
        "action": "",
        "sheet": "1FJCC7p_rZ7xT8hfc9NGfItQturn0tiPblKlAFc5-qc8",
        "cells": "Sheet1!A1:A2",
        "flatten": false,
        "name": "Write node-RED URL to GSheet",
        "x": 710,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "aa72db81.297168",
        "type": "template",
        "z": "5bd5e23aadd26b8d",
        "name": "Form URL for Node-Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{payload}}:1880",
        "output": "str",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "9f793fb6.e5e62"
            ]
        ]
    },
    {
        "id": "53fadfdcf2708014",
        "type": "debug",
        "z": "5bd5e23aadd26b8d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "f26ca21.902e66",
        "type": "inject",
        "z": "6b2035a9.ca9f5c",
        "name": "Inject every 10 seconds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "fab80017.7942b"
            ]
        ]
    },
    {
        "id": "6267bed2.9eb7e",
        "type": "function",
        "z": "6b2035a9.ca9f5c",
        "name": "Add current epoch timestamp ",
        "func": "msg.payload.time = Date.now() \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "57e94275.f8172c"
            ]
        ]
    },
    {
        "id": "57e94275.f8172c",
        "type": "mqtt out",
        "z": "6b2035a9.ca9f5c",
        "name": "publish to EdgeConnect",
        "topic": "demo/security/latency/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 170,
        "y": 320,
        "wires": []
    },
    {
        "id": "648fdca2.9de5c4",
        "type": "mqtt in",
        "z": "6b2035a9.ca9f5c",
        "name": "Listen for Publish Messages",
        "topic": "demo/security/latency/publish",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "958e594e.3c2e08"
            ]
        ]
    },
    {
        "id": "958e594e.3c2e08",
        "type": "function",
        "z": "6b2035a9.ca9f5c",
        "name": "Calculate Time Difference ",
        "func": "var now = Date.now();\nvar then = msg.payload.time;\nmsg.payload.latency = now - then;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "4054b25f.85648c"
            ]
        ]
    },
    {
        "id": "fab80017.7942b",
        "type": "template",
        "z": "6b2035a9.ca9f5c",
        "name": "Extract Geo and Org info from global variables",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"publishregion\":\"{{global.regionName}}\",\"publishcountry\":\"{{global.countryCode}}\",\"publishorg\":\"{{global.org}}\"}",
        "output": "json",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "6267bed2.9eb7e"
            ]
        ]
    },
    {
        "id": "4054b25f.85648c",
        "type": "change",
        "z": "6b2035a9.ca9f5c",
        "name": "Extract Geo Location from Global Variables",
        "rules": [
            {
                "t": "set",
                "p": "payload.regionName",
                "pt": "msg",
                "to": "regionName",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.countryCode",
                "pt": "msg",
                "to": "countryCode",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.org",
                "pt": "msg",
                "to": "org",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "e270e69d.557118",
                "676b2da5.b9cad4"
            ]
        ]
    },
    {
        "id": "dcfa11ab.24416",
        "type": "comment",
        "z": "6b2035a9.ca9f5c",
        "name": "Publisher",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "e270e69d.557118",
        "type": "mqtt out",
        "z": "6b2035a9.ca9f5c",
        "name": "publish results to Edge Connect",
        "topic": "demo/security/latency/results",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 190,
        "y": 600,
        "wires": []
    },
    {
        "id": "578b0ad2.ac3a24",
        "type": "comment",
        "z": "6b2035a9.ca9f5c",
        "name": "Subscriber",
        "info": "",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "676b2da5.b9cad4",
        "type": "debug",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "8b729069e4fae062",
        "type": "mqtt in",
        "z": "d3c4c932fa0ad433",
        "name": "Listen on Control Topic ",
        "topic": "demo/security/control",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "5872a3052b7c12d6"
            ]
        ]
    },
    {
        "id": "5872a3052b7c12d6",
        "type": "switch",
        "z": "d3c4c932fa0ad433",
        "name": "Check if clientid is self or all ",
        "property": "payload.clientid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "all",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLIENTID",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "94b449353b48ae65"
            ],
            [
                "94b449353b48ae65"
            ],
            []
        ]
    },
    {
        "id": "358a9b79e77033f8",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "Otherwise Ignore",
        "info": "",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "0e138ecc479f8138",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "Process",
        "info": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "94b449353b48ae65",
        "type": "switch",
        "z": "d3c4c932fa0ad433",
        "name": "Check Command Type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "exec",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "api",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "9bae47b5adc2d938"
            ],
            [
                "3cb93eed8b48e5ec"
            ]
        ]
    },
    {
        "id": "ef006acee64ad842",
        "type": "http request",
        "z": "d3c4c932fa0ad433",
        "name": "API requests",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 70,
        "y": 560,
        "wires": [
            [
                "93cac3716a0dea8f"
            ]
        ]
    },
    {
        "id": "3c85f295848674b8",
        "type": "exec",
        "z": "d3c4c932fa0ad433",
        "command": "",
        "addpay": "exec",
        "append": "",
        "useSpawn": "true",
        "timer": "120",
        "winHide": false,
        "oldrc": false,
        "name": "exec commands",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "7fa473161970a11b",
                "93cac3716a0dea8f"
            ],
            [
                "7fa473161970a11b",
                "93cac3716a0dea8f"
            ],
            [
                "7fa473161970a11b"
            ]
        ]
    },
    {
        "id": "8d9439e40cfdfa9c",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "node-red API requests",
        "info": "",
        "x": 100,
        "y": 420,
        "wires": []
    },
    {
        "id": "80cb0f6bb7e13a3b",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "exec commands",
        "info": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "59b30b22a270af21",
        "type": "mqtt out",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "topic": "demo/security/control/response",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 310,
        "y": 780,
        "wires": []
    },
    {
        "id": "5b13ee680a0ab3a6",
        "type": "change",
        "z": "d3c4c932fa0ad433",
        "name": "Set Client ID on Response",
        "rules": [
            {
                "t": "set",
                "p": "payload.clientid",
                "pt": "msg",
                "to": "CLIENTID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "exec",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.url",
                "pt": "msg",
                "to": "url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.method",
                "pt": "msg",
                "to": "method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "59b30b22a270af21",
                "70f62d6557b93965"
            ]
        ]
    },
    {
        "id": "70f62d6557b93965",
        "type": "debug",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "7fa473161970a11b",
        "type": "debug",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "78d7a80a5c27e572",
        "type": "inject",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"clientid\":\"all\",\"type\":\"exec\",\"exec\":\"curl http://127.0.0.1:1880/webserver\"}",
        "payloadType": "json",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "5872a3052b7c12d6"
            ]
        ]
    },
    {
        "id": "9bae47b5adc2d938",
        "type": "change",
        "z": "d3c4c932fa0ad433",
        "name": "Normallze payload for input into exec node ",
        "rules": [
            {
                "t": "set",
                "p": "exec",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "3c85f295848674b8"
            ]
        ]
    },
    {
        "id": "3cb93eed8b48e5ec",
        "type": "change",
        "z": "d3c4c932fa0ad433",
        "name": "normalize payload for input into http request node",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "payload.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "ef006acee64ad842"
            ]
        ]
    },
    {
        "id": "93cac3716a0dea8f",
        "type": "template",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"result\":\"{{payload}}\"}",
        "output": "json",
        "x": 460,
        "y": 660,
        "wires": [
            [
                "5b13ee680a0ab3a6"
            ]
        ]
    },
    {
        "id": "d51a6ce2141f1324",
        "type": "inject",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"clientid\":\"all\",\"type\":\"api\",\"url\":\"http://127.0.0.1:1880/flows\",\"method\":\"GET\"}",
        "payloadType": "json",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "5872a3052b7c12d6"
            ]
        ]
    },
    {
        "id": "436a1d6f.2315b4",
        "type": "comment",
        "z": "a033ecf7.19ef2",
        "name": "Listen for Connect, Close, LWT messages",
        "info": "",
        "x": 230,
        "y": 100,
        "wires": []
    },
    {
        "id": "cbd5949e.b2cba8",
        "type": "mqtt in",
        "z": "a033ecf7.19ef2",
        "name": "Listen for Connect Messages",
        "topic": "demo/security/clientstate/connected",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "945a94ae.cd5268",
                "325aebe7.dcf154"
            ]
        ]
    },
    {
        "id": "8bfb700.f83579",
        "type": "file",
        "z": "a033ecf7.19ef2",
        "name": "Write Client State File",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 860,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "945a94ae.cd5268",
        "type": "template",
        "z": "a033ecf7.19ef2",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/clientstate/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "8bfb700.f83579"
            ]
        ]
    },
    {
        "id": "1fcead07.37b343",
        "type": "mqtt in",
        "z": "a033ecf7.19ef2",
        "name": "Listen for Close Messages",
        "topic": "demo/security/clientstate/closed",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "ea39a6c3.717b98",
                "325aebe7.dcf154"
            ]
        ]
    },
    {
        "id": "ea39a6c3.717b98",
        "type": "template",
        "z": "a033ecf7.19ef2",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/clientstate/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "651f5e7f.0e76b"
            ]
        ]
    },
    {
        "id": "b01f1e8c.20bff",
        "type": "mqtt in",
        "z": "a033ecf7.19ef2",
        "name": "Listen for lwt Messages",
        "topic": "demo/security/clientstate/lwt",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "ea39a6c3.717b98",
                "6dd181a3.29adf",
                "325aebe7.dcf154"
            ]
        ]
    },
    {
        "id": "651f5e7f.0e76b",
        "type": "file",
        "z": "a033ecf7.19ef2",
        "name": "Delete Client State File",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d9853e19.30a3a",
        "type": "file",
        "z": "a033ecf7.19ef2",
        "name": "Track LWT messages (Disconnect Monitor)",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 930,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6dd181a3.29adf",
        "type": "template",
        "z": "a033ecf7.19ef2",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/disconnects/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "d9853e19.30a3a"
            ]
        ]
    },
    {
        "id": "d5c7e4cc.057b48",
        "type": "template",
        "z": "a033ecf7.19ef2",
        "name": "Set Topic to unique Client Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/ota/{{payload.title}}/state",
        "output": "str",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "8edcff49.624cb"
            ]
        ]
    },
    {
        "id": "44eb149a.69e63c",
        "type": "template",
        "z": "a033ecf7.19ef2",
        "name": "Format Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"url\": \"https://ota.mqtttest.com/100MB\",\"file\": \"100MB\",\"time\":\"{{timestamp}}\"}",
        "output": "str",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "894d6631.3a7058"
            ]
        ]
    },
    {
        "id": "894d6631.3a7058",
        "type": "mqtt out",
        "z": "a033ecf7.19ef2",
        "name": "Send to Client",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 140,
        "y": 920,
        "wires": []
    },
    {
        "id": "8edcff49.624cb",
        "type": "change",
        "z": "a033ecf7.19ef2",
        "name": "place timestamp ",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 800,
        "wires": [
            [
                "44eb149a.69e63c"
            ]
        ]
    },
    {
        "id": "c65d3dd7.0b3cb",
        "type": "template",
        "z": "a033ecf7.19ef2",
        "name": "form JSON of Active Clients",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"title\":\"{{payload}}\",\"description\":\"Connected\",\"icon\":\"https://cdn1.iconfinder.com/data/icons/malware-and-threats/512/Botnet-01-512.png\"}",
        "output": "json",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "1816a2a2.1671ed"
            ]
        ]
    },
    {
        "id": "1816a2a2.1671ed",
        "type": "join",
        "z": "a033ecf7.19ef2",
        "name": "Create Single Array of Active Clients",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "b1206115.740c"
            ]
        ]
    },
    {
        "id": "5f577087.ad748",
        "type": "comment",
        "z": "a033ecf7.19ef2",
        "name": "Build Client State Table",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "9e8a5d8a.96e86",
        "type": "comment",
        "z": "a033ecf7.19ef2",
        "name": "Individual Download (Action when user clicks on single state table entry)",
        "info": "",
        "x": 320,
        "y": 700,
        "wires": []
    },
    {
        "id": "325aebe7.dcf154",
        "type": "debug",
        "z": "a033ecf7.19ef2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "dc200233.9958a",
        "type": "fs-file-lister",
        "z": "a033ecf7.19ef2",
        "name": "Build List of Active Clients",
        "start": "/data/clientstate",
        "pattern": "*bot",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": false,
        "depth": 0,
        "stat": false,
        "showWarnings": false,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "c65d3dd7.0b3cb"
            ]
        ]
    },
    {
        "id": "b1206115.740c",
        "type": "ui_list",
        "z": "a033ecf7.19ef2",
        "group": "6d919544.7af97c",
        "name": "Client State Table",
        "order": 2,
        "width": 10,
        "height": 15,
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 150,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "14b4631ffc53e91e",
        "type": "ui_button",
        "z": "a033ecf7.19ef2",
        "name": "Refresh Client State",
        "group": "6d919544.7af97c",
        "order": 3,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Refresh Client State",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "dc200233.9958a"
            ]
        ]
    },
    {
        "id": "d951a21b122eca14",
        "type": "http in",
        "z": "401333b789844503",
        "name": "",
        "url": "/webserver",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "f429b80a7e7b202f",
                "2deb4aa3caf0cc7d"
            ]
        ]
    },
    {
        "id": "f429b80a7e7b202f",
        "type": "http response",
        "z": "401333b789844503",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "2deb4aa3caf0cc7d",
        "type": "mqtt out",
        "z": "401333b789844503",
        "name": "",
        "topic": "demo/security/webserver/hits",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "8dea14f59b136983",
        "type": "mqtt in",
        "z": "e42fc4013df7b4d5",
        "name": "",
        "topic": "demo/security/webserver/hits",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "1dd452bb39461eb1"
            ]
        ]
    },
    {
        "id": "1dd452bb39461eb1",
        "type": "debug",
        "z": "e42fc4013df7b4d5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "5bed910161c16d32",
        "type": "ui_form",
        "z": "f51fc5811b06d1db",
        "name": "",
        "label": "",
        "group": "6d919544.7af97c",
        "order": 1,
        "width": 10,
        "height": 8,
        "options": [
            {
                "label": "ClientID",
                "value": "clientid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "command",
                "value": "command",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "type",
                "value": "type",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "clientid": "",
            "command": "",
            "type": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "481d9e2ddf779b90",
                "7572d3cf23634844"
            ]
        ]
    },
    {
        "id": "481d9e2ddf779b90",
        "type": "debug",
        "z": "f51fc5811b06d1db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "b3534f9cb61d9b4c",
        "type": "mqtt out",
        "z": "f51fc5811b06d1db",
        "name": "",
        "topic": "demo/security/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "7572d3cf23634844",
        "type": "json",
        "z": "f51fc5811b06d1db",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "b3534f9cb61d9b4c",
                "481d9e2ddf779b90"
            ]
        ]
    },
    {
        "id": "93972954cd76e53d",
        "type": "mqtt in",
        "z": "f51fc5811b06d1db",
        "name": "",
        "topic": "demo/security/webserver/hits",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "33400ea77704797e"
            ]
        ]
    },
    {
        "id": "33400ea77704797e",
        "type": "ui_gauge",
        "z": "f51fc5811b06d1db",
        "name": "",
        "group": "6d919544.7af97c",
        "order": 4,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "Webserver hits",
        "label": "hits",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 120,
        "wires": []
    }
]
