flows.json
[{"id":"6b2035a9.ca9f5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f26ca21.902e66","type":"inject","z":"6b2035a9.ca9f5c","name":"Inject every second","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":200,"wires":[["fab80017.7942b"]]},{"id":"6267bed2.9eb7e","type":"function","z":"6b2035a9.ca9f5c","name":"Add current epoch timestamp ","func":"msg.payload.time = Date.now() \nreturn msg;","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["57e94275.f8172c"]]},{"id":"57e94275.f8172c","type":"mqtt out","z":"6b2035a9.ca9f5c","name":"publish to EdgeConnect","topic":"demo/latency/sa/publish","qos":"","retain":"","broker":"3c9fafa.7dd6a5","x":170,"y":320,"wires":[]},{"id":"648fdca2.9de5c4","type":"mqtt in","z":"6b2035a9.ca9f5c","name":"Listen for Publish Messages","topic":"demo/latency/sa/publish","qos":"2","datatype":"json","broker":"3c9fafa.7dd6a5","inputs":0,"x":180,"y":440,"wires":[["958e594e.3c2e08"]]},{"id":"958e594e.3c2e08","type":"function","z":"6b2035a9.ca9f5c","name":"Calculate Time Difference ","func":"var now = Date.now();\nvar then = msg.payload.time;\nmsg.payload.latency = now - then;\nreturn msg","outputs":1,"noerr":0,"x":170,"y":520,"wires":[["4054b25f.85648c"]]},{"id":"fab80017.7942b","type":"template","z":"6b2035a9.ca9f5c","name":"Extract Geo and Org info from global variables","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"publishregion\":\"{{global.regionName}}\",\"publishcountry\":\"{{global.countryCode}}\",\"publishorg\":\"{{global.org}}\"}","output":"json","x":240,"y":240,"wires":[["6267bed2.9eb7e"]]},{"id":"4054b25f.85648c","type":"change","z":"6b2035a9.ca9f5c","name":"Extract Geo Location from Global Variables","rules":[{"t":"set","p":"payload.regionName","pt":"msg","to":"regionName","tot":"global"},{"t":"set","p":"payload.countryCode","pt":"msg","to":"countryCode","tot":"global"},{"t":"set","p":"payload.org","pt":"msg","to":"org","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":560,"wires":[["e270e69d.557118","676b2da5.b9cad4"]]},{"id":"dcfa11ab.24416","type":"comment","z":"6b2035a9.ca9f5c","name":"Publisher","info":"","x":130,"y":160,"wires":[]},{"id":"e270e69d.557118","type":"mqtt out","z":"6b2035a9.ca9f5c","name":"publish results to Edge Connect","topic":"demo/latency/sa/results","qos":"","retain":"","broker":"3c9fafa.7dd6a5","x":190,"y":600,"wires":[]},{"id":"578b0ad2.ac3a24","type":"comment","z":"6b2035a9.ca9f5c","name":"Subscriber","info":"","x":130,"y":400,"wires":[]},{"id":"676b2da5.b9cad4","type":"debug","z":"6b2035a9.ca9f5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":560,"wires":[]},{"id":"437f171b.5b09a8","type":"inject","z":"6b2035a9.ca9f5c","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"","payloadType":"date","x":530,"y":160,"wires":[["3b5af446.45cf7c"]]},{"id":"3b5af446.45cf7c","type":"file in","z":"6b2035a9.ca9f5c","name":"","filename":"/data/iplocation","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":630,"y":220,"wires":[["f065e9cd.314428"]]},{"id":"f065e9cd.314428","type":"json","z":"6b2035a9.ca9f5c","name":"","property":"payload","action":"","pretty":false,"x":620,"y":300,"wires":[["a917107c.9fbfd"]]},{"id":"ee688f49.2d2ab","type":"debug","z":"6b2035a9.ca9f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":420,"wires":[]},{"id":"a917107c.9fbfd","type":"change","z":"6b2035a9.ca9f5c","name":"","rules":[{"t":"set","p":"regionName","pt":"global","to":"payload.regionName","tot":"msg"},{"t":"set","p":"org","pt":"global","to":"payload.org","tot":"msg"},{"t":"set","p":"countryCode","pt":"global","to":"payload.countryCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["ee688f49.2d2ab"]]},{"id":"3c9fafa.7dd6a5","type":"mqtt-broker","name":"","broker":"demo-na.mqtttest.com","port":"8883","tls":"2d748829.2503d8","clientid":"$(CLIENTID)","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"demo/MAAPx/clientstate/connect","birthQos":"0","birthRetain":"false","birthPayload":"$(CLIENTID)","closeTopic":"demo/MAAPx/clientstate/close","closeQos":"0","closeRetain":"false","closePayload":"$(CLIENTID)","willTopic":"demo/MAAPx/clientstate/lastwill","willQos":"0","willRetain":"false","willPayload":"$(CLIENTID)"},{"id":"2d748829.2503d8","type":"tls-config","name":"demo-na.mqtttest.com","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"demo-na.mqtttest.com","verifyservercert":true}]