flows.json
[{"id":"5bd5e23aadd26b8d","type":"tab","label":"Set GeoIP ","disabled":false,"info":"","env":[]},{"id":"6b2035a9.ca9f5c","type":"tab","label":"Pub/Sub Perf Test","disabled":false,"info":"","env":[]},{"id":"d3c4c932fa0ad433","type":"tab","label":"Command/Control","disabled":false,"info":"","env":[]},{"id":"3c9fafa.7dd6a5","type":"mqtt-broker","name":"","broker":"demo-na.mqtttest.com","port":"8883","tls":"2d748829.2503d8","clientid":"$(CLIENTID)","autoConnect":true,"usetls":true,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"demo/docker/clientstate/connect","birthQos":"0","birthRetain":"false","birthPayload":"$(CLIENTID)","birthMsg":{},"closeTopic":"demo/docker/clientstate/close","closeQos":"0","closeRetain":"false","closePayload":"$(CLIENTID)","closeMsg":{},"willTopic":"demo/docker/clientstate/lastwill","willQos":"0","willRetain":"false","willPayload":"$(CLIENTID)","willMsg":{},"sessionExpiry":""},{"id":"2d748829.2503d8","type":"tls-config","name":"demo-na.mqtttest.com","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"demo-na.mqtttest.com","verifyservercert":true},{"id":"2280f0fe.38e8e","type":"http request","z":"5bd5e23aadd26b8d","name":"Lookup public IP address","method":"GET","ret":"txt","paytoqs":"ignore","url":"wgetip.com","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":210,"y":140,"wires":[["6d6e68ee.4521e8"]]},{"id":"6d6e68ee.4521e8","type":"template","z":"5bd5e23aadd26b8d","name":"Format GeoIP Lookup","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://ip-api.com/json/{{payload}}","output":"str","x":200,"y":180,"wires":[["bec661d5.81376"]]},{"id":"bec661d5.81376","type":"http request","z":"5bd5e23aadd26b8d","name":"GeoIP Lookup","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":180,"y":220,"wires":[["fff7a75a.2f5218"]]},{"id":"fff7a75a.2f5218","type":"change","z":"5bd5e23aadd26b8d","name":"Set Global Variables ","rules":[{"t":"set","p":"regionName","pt":"global","to":"payload.regionName","tot":"msg"},{"t":"set","p":"countryCode","pt":"global","to":"payload.countryCode","tot":"msg"},{"t":"set","p":"org","pt":"global","to":"payload.org","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":260,"wires":[["84073e45.1a5"]]},{"id":"84073e45.1a5","type":"template","z":"5bd5e23aadd26b8d","name":"Format iplocation file","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"regionName\":\"{{payload.regionName}}\",\"countryCode\":\"{{payload.countryCode}}\",\"org\":\"{{payload.org}}\"}","output":"str","x":200,"y":300,"wires":[["d6e714be.cc9d48"]]},{"id":"d6e714be.cc9d48","type":"file","z":"5bd5e23aadd26b8d","name":"write iplocation file to disk ","filename":"/data/iplocation","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":210,"y":340,"wires":[["316b8d06d6a87ed8"]]},{"id":"27622c68909fd703","type":"inject","z":"5bd5e23aadd26b8d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":180,"y":80,"wires":[["2280f0fe.38e8e"]]},{"id":"316b8d06d6a87ed8","type":"debug","z":"5bd5e23aadd26b8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":340,"wires":[]},{"id":"f26ca21.902e66","type":"inject","z":"6b2035a9.ca9f5c","name":"Inject every second","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":200,"wires":[["fab80017.7942b"]]},{"id":"6267bed2.9eb7e","type":"function","z":"6b2035a9.ca9f5c","name":"Add current epoch timestamp ","func":"msg.payload.time = Date.now() \nreturn msg;","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["57e94275.f8172c"]]},{"id":"57e94275.f8172c","type":"mqtt out","z":"6b2035a9.ca9f5c","name":"publish to EdgeConnect","topic":"demo/latency/docker/publish","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3c9fafa.7dd6a5","x":170,"y":320,"wires":[]},{"id":"648fdca2.9de5c4","type":"mqtt in","z":"6b2035a9.ca9f5c","name":"Listen for Publish Messages","topic":"demo/latency/docker/publish","qos":"2","datatype":"json","broker":"3c9fafa.7dd6a5","nl":false,"rap":false,"inputs":0,"x":180,"y":460,"wires":[["958e594e.3c2e08"]]},{"id":"958e594e.3c2e08","type":"function","z":"6b2035a9.ca9f5c","name":"Calculate Time Difference ","func":"var now = Date.now();\nvar then = msg.payload.time;\nmsg.payload.latency = now - then;\nreturn msg","outputs":1,"noerr":0,"x":170,"y":520,"wires":[["4054b25f.85648c"]]},{"id":"fab80017.7942b","type":"template","z":"6b2035a9.ca9f5c","name":"Extract Geo and Org info from global variables","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"publishregion\":\"{{global.regionName}}\",\"publishcountry\":\"{{global.countryCode}}\",\"publishorg\":\"{{global.org}}\"}","output":"json","x":240,"y":240,"wires":[["6267bed2.9eb7e"]]},{"id":"4054b25f.85648c","type":"change","z":"6b2035a9.ca9f5c","name":"Extract Geo Location from Global Variables","rules":[{"t":"set","p":"payload.regionName","pt":"msg","to":"regionName","tot":"global"},{"t":"set","p":"payload.countryCode","pt":"msg","to":"countryCode","tot":"global"},{"t":"set","p":"payload.org","pt":"msg","to":"org","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":560,"wires":[["e270e69d.557118","676b2da5.b9cad4"]]},{"id":"dcfa11ab.24416","type":"comment","z":"6b2035a9.ca9f5c","name":"Publisher","info":"","x":130,"y":160,"wires":[]},{"id":"e270e69d.557118","type":"mqtt out","z":"6b2035a9.ca9f5c","name":"publish results to Edge Connect","topic":"demo/latency/docker/results","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3c9fafa.7dd6a5","x":190,"y":600,"wires":[]},{"id":"578b0ad2.ac3a24","type":"comment","z":"6b2035a9.ca9f5c","name":"Subscriber","info":"","x":130,"y":400,"wires":[]},{"id":"676b2da5.b9cad4","type":"debug","z":"6b2035a9.ca9f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":560,"wires":[]},{"id":"8b729069e4fae062","type":"mqtt in","z":"d3c4c932fa0ad433","name":"Listen on Control Topic ","topic":"demo/docker/control","qos":"2","datatype":"json","broker":"3c9fafa.7dd6a5","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":100,"wires":[["5872a3052b7c12d6"]]},{"id":"5872a3052b7c12d6","type":"switch","z":"d3c4c932fa0ad433","name":"Check if clientid is self or all ","property":"payload.clientid","propertyType":"msg","rules":[{"t":"eq","v":"all","vt":"str"},{"t":"eq","v":"CLIENTID","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":180,"y":160,"wires":[["94b449353b48ae65"],["94b449353b48ae65"],[]]},{"id":"358a9b79e77033f8","type":"comment","z":"d3c4c932fa0ad433","name":"Otherwise Ignore","info":"","x":360,"y":220,"wires":[]},{"id":"0e138ecc479f8138","type":"comment","z":"d3c4c932fa0ad433","name":"Process","info":"","x":380,"y":120,"wires":[]},{"id":"94b449353b48ae65","type":"switch","z":"d3c4c932fa0ad433","name":"Check Command Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"exec","vt":"str"},{"t":"eq","v":"api","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":280,"wires":[["9bae47b5adc2d938"],["3cb93eed8b48e5ec"]]},{"id":"ef006acee64ad842","type":"http request","z":"d3c4c932fa0ad433","name":"API requests","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":70,"y":560,"wires":[["93cac3716a0dea8f"]]},{"id":"3c85f295848674b8","type":"exec","z":"d3c4c932fa0ad433","command":"","addpay":"exec","append":"","useSpawn":"true","timer":"120","winHide":false,"oldrc":false,"name":"exec commands","x":530,"y":560,"wires":[["7fa473161970a11b","93cac3716a0dea8f"],["7fa473161970a11b","93cac3716a0dea8f"],["7fa473161970a11b"]]},{"id":"8d9439e40cfdfa9c","type":"comment","z":"d3c4c932fa0ad433","name":"node-red API requests","info":"","x":100,"y":420,"wires":[]},{"id":"80cb0f6bb7e13a3b","type":"comment","z":"d3c4c932fa0ad433","name":"exec commands","info":"","x":400,"y":440,"wires":[]},{"id":"59b30b22a270af21","type":"mqtt out","z":"d3c4c932fa0ad433","name":"","topic":"demo/docker/control/response","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3c9fafa.7dd6a5","x":310,"y":780,"wires":[]},{"id":"5b13ee680a0ab3a6","type":"change","z":"d3c4c932fa0ad433","name":"Set Client ID on Response","rules":[{"t":"set","p":"payload.clientid","pt":"msg","to":"CLIENTID","tot":"env"},{"t":"set","p":"payload.exec","pt":"msg","to":"exec","tot":"msg"},{"t":"set","p":"payload.url","pt":"msg","to":"url","tot":"msg"},{"t":"set","p":"payload.method","pt":"msg","to":"method","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":720,"wires":[["59b30b22a270af21","70f62d6557b93965"]]},{"id":"70f62d6557b93965","type":"debug","z":"d3c4c932fa0ad433","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":720,"wires":[]},{"id":"7fa473161970a11b","type":"debug","z":"d3c4c932fa0ad433","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":560,"wires":[]},{"id":"78d7a80a5c27e572","type":"inject","z":"d3c4c932fa0ad433","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"clientid\":\"all\",\"type\":\"exec\",\"exec\":\"ping -c 1 www.yahoo.com\"}","payloadType":"json","x":100,"y":60,"wires":[["5872a3052b7c12d6"]]},{"id":"9bae47b5adc2d938","type":"change","z":"d3c4c932fa0ad433","name":"Normallze payload for input into exec node ","rules":[{"t":"set","p":"exec","pt":"msg","to":"payload.exec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":500,"wires":[["3c85f295848674b8"]]},{"id":"3cb93eed8b48e5ec","type":"change","z":"d3c4c932fa0ad433","name":"normalize payload for input into http request node","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"payload.method","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":500,"wires":[["ef006acee64ad842"]]},{"id":"93cac3716a0dea8f","type":"template","z":"d3c4c932fa0ad433","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"result\":\"{{payload}}\"}","output":"json","x":360,"y":640,"wires":[["5b13ee680a0ab3a6"]]},{"id":"d51a6ce2141f1324","type":"inject","z":"d3c4c932fa0ad433","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"clientid\":\"all\",\"type\":\"api\",\"url\":\"http://127.0.0.1:1880/flows\",\"method\":\"GET\"}","payloadType":"json","x":250,"y":40,"wires":[["5872a3052b7c12d6"]]}]